---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Content from "../content/terms/privacy.mdx";
---

<Layout title="Terms">
    <Container>
        <div class="mx-auto prose prose-md mt-6 max-w-3xl px-5 md:px-0">
            <Content />
        </div>
    </Container>
</Layout>
