---
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/common/container.astro";
import Content from "../content/terms/terms.mdx";
---

<Layout title="Terms of Conditions">
    <Container>
        <div class="mx-auto prose prose-md mt-6 max-w-3xl px-5 md:px-0">
            <Content />
        </div>
    </Container>
</Layout>
