---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon/components";
---

<div
    class="bg-custom_night p-8 md:px-20 py-20 mx-auto max-w-5xl rounded-none md:rounded-lg flex flex-col items-center text-left xs:text-center gap-8 mt-12">
    <h2 class="text-white text-4xl tracking-tight">
        Bring <span class="text-custom_orange">CrunchyScore</span> to Your Browser Today
    </h2>
    <p class="text-slate-200 text-lg md:text-xl">
        Get set for a seamless Crunchyroll experience. <br />Click the button below to download the extension
        and have anime ratings at your fingertips.
    </p>
    <div class="flex flex-row gap-4">
        <Link
            href="https://chrome.google.com/webstore/detail/crunchyscore-mal-score-on/coiidbjimmeojgdkclafjccnhgenmmbi"
            target="_blank"
            class="flex gap-2 items-center justify-center"
            rel="noopener"
            style="inverted">
            <Icon name="chrome" class="w-6 h-6" />
            Add to Chrome
        </Link>
        <Link
            href="https://addons.mozilla.org/firefox/addon/crunchyscore/"
            target="_blank"
            class="flex gap-2 items-center justify-center bg-gray-300"
            rel="noopener"
            style="inverted">
            <Icon name="firefox" class="w-6 h-6" />
            Add to Firefox
        </Link>
    </div>
</div>
