<footer class="mt-20 mb-10">
  <div class="text-center">
    <p class="text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Crunchyscore - Developped by <a
        href="https://bfabri.me"
        target="_blank"
        rel="noopener"
        class="hover:underline"
      >
        Benjamin Fabri</a
      >
    </p>
    <div>
      <a href="/terms" class="text-sm text-slate-500">Terms of Conditions</a>
      <span class="text-sm text-slate-500">-</span>
      <a href="/privacy" class="text-sm text-slate-500">Extension Privacy</a>
      <span class="text-sm text-slate-500">-</span>
      <a href="/website-privacy" class="text-sm text-slate-500">Website Privacy</a>
    </div>
  </div>
</footer>
