<footer class="mt-8 py-12 px-5 sm:px-0">
    <div class="text-center flex flex-col gap-1">
        <p class="text-sm text-slate-500">
            Copyright © {new Date().getFullYear()} Crunchyscore - Developped by <a
                href="https://bfabri.me"
                target="_blank"
                rel="noopener"
                class="hover:underline font-bold">
                Benjamin Fabri</a
            >
        </p>
        <div class="text-sm text-slate-500">
            <a href="/terms/">Terms of Conditions</a>
            <span class="text-sm text-slate-500">-</span>
            <a href="/privacy/">Extension Privacy</a>
            <span class="text-sm text-slate-500">-</span>
            <a href="/website-privacy/">Website Privacy</a>
        </div>
    </div>
</footer>
