---

---

<header class="max-w-screen-xl mx-auto px-0 md:px-5 flex flex-col gap-24">
    <div class="flex w-full lg:w-auto items-center justify-between my-5 px-5 md:px-0">
        <a href="/">
            <span class="font-bold text-3xl sm:text-2xl text-slate-800">Crunchy</span><span
                class="font-bold text-3xl sm:text-2xl text-custom_orange">Score</span
            >
        </a>
    </div>
</header>
