---
import Container from "@components/container.astro";
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5 px-5 md:px-0">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <!-- <div><span class="font-bold text-custom_orange">Crunchy</span><span class="font-bold text-custom_blue">score.app</span></div> -->
      <div>
        <span class="font-bold text-lg text-slate-800">Crunchy</span><span
          class="font-bold text-lg text-custom_orange">Score</span
        >
      </div>
    </div>
  </header>
</Container>
