---
import Container from "@components/container.astro";
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <!-- <span class="font-bold text-custom_orange">Crunchy</span><span class="font-bold text-custom_blue">score.app</span> -->
      <span class="font-bold text-slate-800">Crunchy</span><span class="text-slate-500">score</span>
    </div>
  </header>
</Container>
